<ion-header>
  <ion-toolbar>
    <ion-title>
      Cifrado Elgamal para CAYD - C. Camilo Bernal Alarcón
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="main-card">
          <ion-card-header>
            <ion-card-title> Cifrador / Descifrador Elgamal </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-margin">
              <ion-col>
                <form [formGroup]="claveForm">
                  <ion-item>
                    <ion-input
                      formControlName="primoP"
                      label="p"
                      labelPlacement="floating"
                      placeholder="Ingrese un número primo"
                      type="number"
                    >
                    </ion-input>
                  </ion-item>
                </form>
              </ion-col>
              <ion-col>
                <form [formGroup]="claveForm">
                  <ion-item>
                    <ion-input
                      formControlName="generadorG"
                      label="g"
                      labelPlacement="floating"
                      placeholder="Ingrese el número generador"
                      type="number"
                    >
                    </ion-input>
                  </ion-item>
                </form>
              </ion-col>
              <ion-col>
                <form [formGroup]="claveForm">
                  <ion-item>
                    <ion-input
                      formControlName="numeroK"
                      label="k"
                      labelPlacement="floating"
                      placeholder="Ingrese la clave secreta"
                      type="number"
                    >
                    </ion-input>
                  </ion-item>
                </form>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin">
              <ion-col>
                <ion-button
                  class="ion-margin-start ion-margin-bottom"
                  [disabled]="!claveForm.valid"
                  (click)="verificarClave()"
                >
                  Verificar clave
                </ion-button>
              </ion-col>
              <ion-col *ngIf="sonParametrosCorrectos">
                <ion-item lines="none">
                  <ion-label>
                    <p>
                      Los parametros ingresados no presentan error. ¡Puede
                      continuar!
                    </p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin">
              <ion-col size="4">
                <form [formGroup]="claveForm">
                  <ion-item>
                    <ion-input
                      formControlName="numLetrasPorBloque"
                      label="Letras por bloque "
                      labelPlacement="stacked"
                      placeholder="Ingrese un número"
                      type="number"
                      readonly="true"
                    >
                    </ion-input>
                  </ion-item>
                </form>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin">
              <ion-col>
                <form [formGroup]="cifradoForm">
                  <ion-item>
                    <ion-textarea
                      formControlName="textoClaroInput"
                      label="Texto claro"
                      labelPlacement="stacked"
                      placeholder="Ingrese un texto claro"
                      rows="1"
                      autoGrow="true"
                    >
                    </ion-textarea>
                  </ion-item>
                  <ion-button
                    class="ion-margin"
                    [disabled]="!cifradoForm.valid || !claveForm.valid || !sonParametrosCorrectos"
                    (click)="cifrar()"
                  >
                    Cifrar
                  </ion-button>
                </form>
              </ion-col>
              <ion-col>
                <form [formGroup]="cifradoForm">
                  <ion-item>
                    <ion-textarea
                      formControlName="aleatorioX"
                      label="x"
                      labelPlacement="stacked"
                      placeholder="Ingrese un número aleatorio"
                      type="number"
                      rows="1"
                      autoGrow="true"
                    >
                    </ion-textarea>
                  </ion-item>
                </form>
              </ion-col>
              <ion-col>
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-col class="ion-no-margin ion-no-padding">
                    <form [formGroup]="cifradoForm">
                      <ion-item>
                        <ion-textarea
                          formControlName="textoClaroFormateado"
                          label="Texto claro formateado"
                          labelPlacement="floating"
                          readonly="true"
                          autoGrow="true"
                          rows="1"
                        >
                        </ion-textarea>
                      </ion-item>
                    </form>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-col class="ion-no-margin ion-no-padding">
                    <form [formGroup]="cifradoForm">
                      <ion-item>
                        <ion-textarea
                          formControlName="pesosTextoClaroFormateado"
                          label="Pesos texto formateado"
                          labelPlacement="floating"
                          readonly="true"
                          autoGrow="true"
                          rows="1"
                        >
                        </ion-textarea>
                      </ion-item>
                    </form>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-col class="ion-no-margin ion-no-padding">
                    <form [formGroup]="cifradoForm">
                      <ion-item>
                        <ion-textarea
                          formControlName="pesosCifradosOutput"
                          label="Pesos cifrados"
                          labelPlacement="floating"
                          readonly="true"
                          autoGrow="true"
                          rows="1"
                        >
                        </ion-textarea>
                      </ion-item>
                    </form>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin">
              <ion-col>
                <form [formGroup]="descifradoForm">
                  <ion-item>
                    <ion-textarea
                      formControlName="textoCifradoInput"
                      label="Pesos cifrados"
                      labelPlacement="stacked"
                      placeholder="Ingrese un peso cifrado"
                      type="number"
                      autoGrow="true"
                      rows="1"
                    >
                    </ion-textarea>
                  </ion-item>
                  <ion-button
                    class="ion-margin"
                    [disabled]="!descifradoForm.valid || !claveForm.valid || !sonParametrosCorrectos"
                    (click)="descifrar()"
                  >
                    Descrifrar
                  </ion-button>
                </form>
              </ion-col>
              <ion-col>
                <form [formGroup]="descifradoForm">
                  <ion-item>
                    <ion-textarea
                      formControlName="textoClaroOutput"
                      label="Pesos descifrados"
                      labelPlacement="floating"
                      readonly="true"
                      autoGrow="true"
                      rows="1"
                    >
                    </ion-textarea>
                  </ion-item>
                </form>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
